.main-menu {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    background: green;
    font-size: 40px;
    & ul {
        padding-top: 2vh;
    }
    & li {
        cursor: pointer;
    }
    & li:hover {
        background: brown;
    }
    & li+li {
        padding-top: 3vh;
    }
}