.dialoque-area {
    display: flex;
    flex-direction: column;

    margin: 4vh auto 16px;
    max-width: 700px;
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__name {
        text-align: center;
        background: green;
        border: 2px solid #000;
        width: 70px;
        height: 30px;
        
        position: relative;
        top: 370px;
    }
    &__display {

        background: green;
        border: 2px solid #000;
        height: 120px;
        max-width: 700px;
    }
    &__partner-img {
        height: 420px;
    }
}
